<h1>Update Super Hero</h1>
 
<%= form_tag "/superheroes/#{@super_hero['id']}", method: :patch do %>

 <%= label_tag :name %>
 <%= text_field_tag :name, @super_hero['name'] %>

 <%= label_tag :power %>
 <%= text_field_tag :power, @super_hero['power'] %>

 <%= label_tag :descriptor %>
 <%= text_field_tag :descriptor, @super_hero['descriptor'] %>

 <%= submit_tag "Update Super Hero" %>
<% end %> 