<h1> Super Hero </h1>
<ul>
  <li> Super hero : <%=@super_hero["name"] %> </li>
  <li> Powers : <%=@super_hero["power"] %></li>
  <li> Descriptor: <%=@super_hero["descriptor"]%></li>
  <li> Id: <%=@super_hero["id"]%></li>
</ul>
<%= link_to "Edit Super Hero", "/superheroes/#{@super_hero['id']}/edit" %>.
<%= link_to "Delete Super Hero", "/superheroes/#{@super_hero['id']}", method: :delete %>